.box{
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    min-width: 120px;
    max-width: 150px;
}

.utilization .CircularProgressbar-path{
    stroke: #007CC3;
}

.utilization .CircularProgressbar-trail      
{ 
    stroke: #92D1FF;
}

.preproduction .CircularProgressbar-path{
    stroke: #F16C51;
}

.preproduction .CircularProgressbar-trail      
{ 
    stroke: #FBC2BA; 
}

.training .CircularProgressbar-path{
    stroke: #DF9926;
}

.training .CircularProgressbar-trail      
{ 
    stroke: #EAC8A5; 
}

.bench .CircularProgressbar-path{
    stroke: #00B28F;
}

.bench .CircularProgressbar-trail      
{ 
    stroke: #A8D7CD; 
}

.CircularProgressbar .CircularProgressbar-text{
    fill: rgb(255, 255, 255);
}

.CircularProgressbar .CircularProgressbar-path{
    transition: stroke-dashoffset 1s ease-out 0s; /* what is animated, duration, animation function, delay */
}

.label{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}