section {
    position: relative;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

section>div{
    position: absolute;
    top: 0%;
    z-index: 2;
}

section.whoWeAre>div{
    width:100%;
}

section.whatWeDo>div {
    position: relative;
}

#metrics>div {
    top: 30%;
}

section .left{
    left: 120px;
}

section .right{
    right: 20%;
}

.shadow-right{
    z-index: 1;
    position: absolute;
    top: 120px;
    left:200px;
    height: 450px;
    width: 150px;
    box-shadow: 0 0 0 9999px rgba(0,0,0,.75);
}

.shadow-left{
    z-index: 1;
    position: absolute;
    top: 120px;
    right:200px;
    height: 450px;
    width: 150px;
    box-shadow: 0 0 0 9999px rgba(0,0,0,.75);
}

#home{
    z-index: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* react-scroll */
.navi {
    position: fixed;
    z-index: 999; /* ensures that the navigation is always on top */
    display: flex;
    flex-direction: column;
}

.navi>a>img{
    width: 7vw;
    margin: 10px;
}
.navi>a:first-child{
    border: none;
}

/* base navigation link styling */
.navi a {
    text-align: left;
    font-size: 14px; 
    color: white;
    width: 75px;  
    margin-left: 15px;
    border-top: 2px solid white;
    transition: border 0.3s, width 0.3s, font-weight 0.3s;
    -webkit-transition: border 0.3s, width 0.3s, font-weight 0.3s;
    text-decoration: none;
}

/* hover over navigation link */
.navi a:hover {
    width: 90px;
    font-weight: bold;
    text-decoration: none;
}

/* current component navigation link */
.navi .active {
    font-weight: bold;
    border-top: 4px solid white;
    width: 90px;
    text-decoration: none;
}

/* navigation link text */
.navi span {
    display: block;
    opacity: 0;
    width: 100%;
    padding: 10px 0 25px 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

/* current component navigation link text */
.navi .active span {
    opacity: 1;
}

/* navigation link text on hover */
.navi span:hover {
    opacity: 1;
}